body {
    margin:0;
}
footer{
    text-align:center;
}
#nav1 {
    text-align: center;
    
}
#navbar-menu-items{
    font-size:large;
}

#header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    background-color: ghostwhite;
    width: 100%;
    text-align: center;
    margin-top:-40px;
}

